# Data Science Tools and Ecosystem

This notebook summarizes Data Science Tools and Ecosystem

**Objectives**
- List popular languages for Data Scientists.
- List open source development environments.
- List libraries commonly used in Data Science.
- Gives examples of arithmetic expressions.

Popular languages Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Libraries that Data Scientists commonly use:
1. Pandas
2. Matplotlib
3. Scikit-learn
4. Apache Spark

|Data Science Tools|
|------------------|
|Watson Studio|
|Jupyter|
|R Studio|

### Below are examples of arithmetic expressions in Python.

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [2]:
# This converts 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Macy Traywick